:root {
  --color-background-banner-bottomEdge: rgba(0, 0, 0, 0.5);
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #FFF;
  }
h1, h2, #main h1 a {
  font-family: IBM-Plex-Sans, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}
pre {
  font-family: iAWriterDuospace, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}
p {
  font-family: iAWriterDuospace, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  background-color: black;
  color: white;
  /* text-indent: 30px; */
  }

body, h1, h2, h3, a, #sidenav, #sidenav h1, #sidenav i, #sidenav a, #sidenavEdge, a#menuButton, .banner, .banner .title, .banner .navigation, .banner .navigation h1, .banner .title h1, .banner .title h1 a {
  background-color: black;
  color: white;
}

a:hover, body a:hover, #sidenav a:hover, .banner .navigation h1:hover, a#menuButton:hover, .banner .title a:hover {
  color: #808080;
}
