/* Avenir */
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-Book.woff); }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-Heavy.woff);
  font-weight: bold; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-BookOblique.woff);
  font-style: italic; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-BookOblique.woff);
  font-style: oblique; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-HeavyOblique.woff);
  font-weight: bold;
  font-style: oblique; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-HeavyOblique.woff);
  font-weight: bold;
  font-style: italic; }

/* Nitti */
@font-face {
  font-family: Nitti;
  src: url(./fonts/Nitti/nitti_light.woff); }
@font-face {
  font-family: Nitti;
  src: url(./fonts/Nitti/nitti_medium.woff);
  font-weight: bold; }

/* iA Writer Duospace */
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-Regular.otf); }
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-BoldItalic.woff);
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-RegularItalic.woff);
  font-style: italic; }

/* IBM Plex Sans */
/* There are more files in /fonts/IBM-Plex-Sans, but they're not yet referenced here */
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Regular.otf); }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Italic.otf);
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-BoldItalic.otf);
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Light.otf);
  font-weight: 300; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-LightItalic.otf);
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-ExtraLight.otf);
  font-weight: 200; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-ExtraLightItalic.otf);
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Thin.otf);
  font-weight: 100; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-ThinItalic.otf);
  font-weight: 100;
  font-style: italic; }

/* IBM Plex Serif */
/* There are more files in /fonts/IBM-Plex-Serif, but they're not yet referenced here */
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-Regular.otf); }
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-Italic.otf);
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-BoldItalic.otf);
  font-weight: bold;
  font-style: italic; }

/* IBM Plex Mono */
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-Text.otf); }
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-TextItalic.otf);
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-BoldItalic.otf);
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-Light.otf);
  font-weight: 300; }
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-LightItalic.otf);
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-ExtraLight.otf);
  font-weight: 200; }
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-ExtraLightItalic.otf);
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-Thin.otf);
  font-weight: 100; }
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(./fonts/IBM-Plex-Mono/IBMPlexMono-ThinItalic.otf);
  font-weight: 100;
  font-style: italic; }

/* SF Mono */
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-Regular.otf); }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-RegularItalic.otf);
  font-style: italic; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-BoldItalic.otf);
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-Light.otf);
  font-weight: 300; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-LightItalic.otf);
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-Medium.otf);
  font-weight: 500; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-MediumItalic.otf);
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-Semibold.otf);
  font-weight: 600; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-SemiboldItalic.otf);
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-Heavy.otf);
  font-weight: 800; }
@font-face {
  font-family: SF-Mono;
  src: url(./fonts/SF-Mono/SF-Mono-HeavyItalic.otf);
  font-weight: 800;
  font-style: italic; }
