/* Avenir */
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-Book.woff); }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-Heavy.woff);
  font-weight: bold; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-BookOblique.woff);
  font-style: italic; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-BookOblique.woff);
  font-style: oblique; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-HeavyOblique.woff);
  font-weight: bold;
  font-style: oblique; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-HeavyOblique.woff);
  font-weight: bold;
  font-style: italic; }

/* Nitti */
@font-face {
  font-family: Nitti;
  src: url(./fonts/Nitti/nitti_light.woff); }
@font-face {
  font-family: Nitti;
  src: url(./fonts/Nitti/nitti_medium.woff);
  font-weight: bold; }

/* iA Writer Duospace */
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-Regular.otf); }
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-BoldItalic.woff);
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-RegularItalic.woff);
  font-style: italic; }

/* IBM Plex Sans */
/* There are more files in /fonts/IBM-Plex-Sans, but they're not yet referenced here */
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Regular.otf); }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Italic.otf);
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-BoldItalic.otf);
  font-weight: bold;
  font-style: italic; }

/* IBM Plex Serif */
/* There are more files in /fonts/IBM-Plex-Serif, but they're not yet referenced here */
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-Regular.otf); }
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-Italic.otf);
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-BoldItalic.otf);
  font-weight: bold;
  font-style: italic; }

/* Actual CSS */

:root {
  --color-background: #FFFFFF;
  --color-body: #000000;
  --color-a: #000000;
  --color-hover: rgba(76, 76, 76, 0.7);
  --color-background-banner: rgb(0, 255, 255);
  --color-background-banner-bottomEdge: #FFFFFF;
  --font-family: IBM-Plex-Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(48, 48, 48);
    --color-body: #FFFFFF;
    --color-a: rgba(255, 255, 255, 1);
    --color-hover: rgba(255, 255, 255, 0.5);
    --color-background-banner: rgb(39, 39, 39);
    --color-background-banner-bottomEdge: rgb(30, 30, 30);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-body);
  font-family: var(--font-family);
  padding: 18vh 1rem;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  transition: background-color .5s;
 }

p, li {
  font-family: var(--font-family);
 }

.banner {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 8vmin;
  width: 100%;
  background: var(--color-background-banner);
}

.banner .title h1 {
  font-size: 6vmin;
  text-align: left;
  margin: auto;
  display: block;
  position: fixed;
  left: 1.5%;
  top: 0%;
  height: 8vmin;
  width: 60vw;
  z-index: 4;
  background: var(--color-background-banner);
  color: var(--color-body);
  white-space: nowrap;
  overflow: visible;
  transition: 0.5s;
}

.banner .navigation h1 {
  font-size: 6vmin;
  text-align: right;
  margin: auto;
  position: fixed;
  right: 1.5%;
  top: 0%;
  height: 8vmin;
  width: 37vw;
  z-index: 2;
  background: var(--color-background-banner);
  color: var(--color-body);
  white-space: nowrap;
  transition: 0.5s;
 }

a {
  color: var(--color-a);
  transition: 0.5s;
  }

.banner .navigation h1:hover, a:focus, a:hover {
  color: var(--color-hover);
  transition: 0.5s;
  }

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: var(--color-body);
}

.bottomEdge {
  position: fixed;
  top: 8vmin;
  height: .2vmin;
  width: 100%;
  background-color: var(--color-background-banner-bottomEdge);
}

#sidenavWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

#sidenavEdge {
  height: 105%;
  width: 1.5%;
  position: fixed;
  right: 0%;
  top: -30px;
  background-color: var(--color-background-banner);
  transform: translate(100%);
  z-index: 2;
}

#sidenavEdge.show {
  transform: translate(0%);
}

#sidenav {
  position: fixed;
  top: -30px;
  bottom: 0;
  right: 1.5%;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;
  background-color: var(--color-background-banner);
  transition: 0.5s;
  text-align: right;
  text-decoration: underline;
  transform: translate(105%);
}

/* @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    .banner, #sidenav, #sidenavEdge {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background-color: var(--color-background-banner);
    }
} */

#sidenav.show {
    transform: translate(0%);
}

#menuButton {
  position: fixed;
  top: -.25%;
  right: 1.5%;
  background: none;
  color: var(--color-body);
  border: none;
  padding: 0;
  font: inherit;
  text-decoration: underline;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  }

#menuButton.hide {
  transform: translate(150%);
}

#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 6vmin;
  color: var(--color-body);
  display: block;
  transition: 0.5s;
  text-align: right;
  overflow: auto;
}

#sidenav a:hover {
  color: var(--color-hover);
}

#main {
  transition: margin-right .5s;
  padding: 0px;
  ­-webkit-­transition: all 0.5s ease;
  ­-moz-­transition: all 0.5s ease;
  ­-o-­transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
