<!DOCTYPE html>
<html>
<head>
  <%= partial "/layouts/partials/head" %>
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%=current_page.data.title + ' • ' unless current_page.data.title.nil? %>Jack MapelLentz</title>
</head>

<div class="blur">
</div>

<body>
  <%= partial "/layouts/partials/banner" %>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
