<!doctype html>
<html>
  <head>
    <%= partial "/layouts/partials/head" %>
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "jacquesite" %></title>
  </head>
  <body>
    <div class="banner">
      <header>
        <div class="wrapper">
          <div class="blurlayer">
          </div>
          <div class="title">
            <h1>
              <a href="./">jack mapellentz</a>
            </h1>
          </div>
          <div class="navigation">
            <h1>
              <a href="menu.html">menu</a>
            </h1>
          </div>
        </div>
      </header>
    </div>
    <%= yield %>
  </body>
</html>
