<!doctype html>
  <body>

  <h1><a href="../../../../../quizlet">Unofficial Quizlet Company</a> • 8th Grade</h1>
  <hr>
  <p>
    Here are all sets that I created in 8th grade. To request access, select the subject and request to join the linked Quizlet class. Access to each is $3; contact me for more questions (link on main Quizlet page)
  </p>

  <h2>
    Select a subject:
    <a href="https://quizlet.com/class/5517638/" target="blank">History <i>(Mr. Kaeppe)</i></a>
    •
    <a href="https://quizlet.com/StrawberryTau" target="blank">English <i>(Mr. Callahan)</i></a>
  </h2>
