<!doctype html>
  <body>

  <h1><a href="./../../quizlet">Unofficial Quizlet Company</a> // 9th Grade</h1>
  <hr>
  <p>
    Here are all sets that I created in 9th grade. To request access, select the subject and request to join the linked Quizlet class. Access to each is $3; contact me for more questions (link on main Quizlet page)
  </p>

  <h2>
    In Progress: History & Geography Unit (from Geography & Civics)
  </h2>
  <p>
    <i>Contact me for more details</i>
  </p>


  <h2>
    Now Avalible: Honors Biology Semester Subscription
  </h2>
  <p>
    <i>Get access to all previous and future sets for Semester 1</i>
  </p>

  <h2>
    Select a subject:
    <a href="https://quizlet.com/class/9062047/" target="blank">Geography & Civics <i>(Mr. Kaeppe)</i></a>
    //
    <a href="https://quizlet.com/class/6524745/" target="blank">Biology Honors <i>(Mrs. Jaworski)</i></a>
  </h2>
