---
pageable: true
per_page: 10
blog: articles
---

<head>
  <%= stylesheet_link_tag "articles" %>
</head>

<body>

<div id="main" role="main">
  <h1><a href="../../../../../literary-things/articles">articles</a></h1>
  <hr>
  <br>
  <h1>All articles previously found here can now be found under the unified <a href="../../../../../blog">blog</a></h1>
