---
blog: blog
title: literature, etc.
---

<!doctype html>
<html>
  <body>

    <h1><a href="./literature">Literary Things, etc</a></h1>

    <hr>

    <h2>
      Things I've Written
    </h2>
      <div>
        <h3>
          <a href="./../blog"> Articles, Essays, Poems, & Other Blog Posts </a>
        </h3>
        <!-- <p>
            <% page_articles.each_with_index do |article, i| %>
            <li><%= link_to article.title, article %> <span> • <%= article.date.strftime('%b %e %Y') %></span></li>
          <% end %>
        </p> -->

        <h3>
          For Contests
        </h3>
        <p>
          <ul>
          <li> I mean both of these are super old but I still kind of like them </li>
          <ul>
          <li> <a href="http://strib.mn/1batDml" target="blank"><i><i>Power of We</i></i></a> contest by United Way & the StarTribune (from 1st grade) </li>
          <li> <a href="http://thefriends.org/wp-content/uploads/2015/04/Jack-Mapel-Lentz_2015_Letters-about-Literature.pdf" target="blank"><i><i>Letters About Literature</i></i></a> contest by the Library of Congress (from 4th grade) </li>
          </ul>
          </ul>
        </p>
      </div>

    <%# <h2>
      My Favorite Books
    </h2>
    <div style="margin-left: 30px;">
      <i>
        Note: I haven't really updated this for a couple years, and it's a bit out of date. But still, these are some good books.
      </i>
      <p>
        1. <a href="http://www.johngreenbooks.com/the-fault-in-our-stars" target="blank"><i>The Fault in Our Stars</i></a> by John Green <br>
        2. <a href="https://www.pottermore.com/" target="blank"><i>Harry Potter</i> series</a> by JK Rowling<br>
        3. <a href="http://anthonydoerr.com/books/all-the-light-we-cannot-see/" target="blank"><i>All the Light We Cannot See</i></a> by Anthony Doerr <br>
        4. <a href="http://www.rainbowrowell.com/eleanor-park/" target="blank"><i>Eleanor & Park</i></a> by Rainbow Rowell / <a href="http://www.johngreenbooks.com/paper-towns/" target="blank"><i>Paper Towns</i></a> by John Green (tie) <br>
        5. <a href="http://tedsanders.net/the-keepers/" target="blank"><i>Keepers</i> series</a> by Ted Sanders <br>
        6. <a href="https://www.celesteng.com/little-fires-everywhere/" target="blank"><i>Little Fires Everywhere</i></a> by Celeste Ng <br>
        7. <a href="http://www.johngreenbooks.com/turtles-all-the-way-down-book/" target="blank"><i>Turtles All The Way Down</i></a> by John Green <br>
      </p>
    </div> %>

    <h2>
      Books I've Read (from Goodreads) ↓
    </h2>
    <div class="goodreads">
      <%= partial "/layouts/partials/goodreads" %>
    </div>

  </body>
</html>
