  <header>
      <div class="banner">
        <div class="title">
          <h1>
            <a href="../../../../../">jack mapellentz</a>
          </h1>
        </div>
        <div id="navigation" class="navigation">
          <h1>
            <button id="menuButton">menu</button>
          </h1>
        </div>
          <div id="sidenavWrapper" class="sidenavWrapper">
            <div id="sidenav" class="sidenav">
              <h1>
                <a href="javascript:void(0)"onclick="hideMenu()"> close</a>
                <%= partial "/layouts/partials/menuitems" %>
                <br>
              </h1>
                <i>
                  <a href="https://github.com/jltml/jltml.github.io/" target="blank"> <span id="lastModified"></span></a>
                </i>
              </div>
          </div>
          <div class="bottomEdge"></div>
        </div>
        <div id="sidenavEdge"></div>
    </header>
