<div class="default-menu-items">

  <a href="javascript:void(0)"onclick="hideMenu()">close</a>

  <a href="./../../../">home</a>

  <a href="./../../../blog">blog</a>

  <a href="./../../../literature">literature, etc</a>

  <a href="./../../../music">music</a>

  <a href="./../../../videos">videos</a>

  <a href="javascript:toggleProfiles()" class="exclude">profiles</a>

</div>

  <div class="menu-profiles" style="display: none;">

    <a href="javascript:toggleProfiles()">close</a>

    <a href="javascript:toggleProfilesInstagram()">instagram</a>

    <a href="https://en.wikipedia.org/wiki/User:Jltml" target="blank">wikipedia</a>

    <a href="https://github.com/jltml/" target="blank">github</a>

    <a href="https://music.apple.com/profile/jltml" target="_blank">apple music</a>

    <a href="https://open.spotify.com/user/jltml" target="_blank">spotify</a>

  </div>

    <div class="menu-profiles-instagram" style="display: none;">

      <a href="javascript:toggleProfilesInstagram()">close</a>

      <a href="https://www.instagram.com/jack.mapellentz/" target="blank">main</a>

      <a href="https://www.instagram.com/jltmlspam/" target="blank">spam</a>

      <a href="https://www.instagram.com/jltmlphotos/" target="blank">photography</a>

    </div>

<div class="default-menu-items">

  <a href="https://status.jltml.me" target="blank">status</a>

  <a href="./../../../misc">miscellaneous</a>

</div>
