<!doctype html>
<html>
<head>
  <style>

  </style>
</head>

<body>
  <iframe src="https://www.crazygames.com/game/endless-truck" style="height:95vh;width:99%;"></iframe>
  <iframe src="https://www.coolmathgames.com" style="height:95vh;width:99%;"></iframe>
  <iframe src="https://www.twoplayergames.org" style="height:95vh;width:99%;"></iframe>
</body>

</html>
