hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #FFF; }

p, body, h1, h2, h3, a, .banner .title h1, .banner .navigation h1, .banner .title h1, .banner, .navigation, .bottomEdge, #sidenav, #sidenav a, #sidenavEdge, #sidenavWrapper, #menuButton {
  background-color: red;
  color: white; }
