body {
  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

.banner, #sidenav, #sidenavEdge, .bottomEdge {
  background: transparent; }

.banner .title h1 {
  background: transparent; }

.banner .navigation h1 {
  background: transparent; }

body, h1, h2, h3, a {
  color: #FFF; }

a:hover, .banner .navigation h1:hover, #sidenav a:hover {
  color: #d3d3d3; }
