@charset "UTF-8";
@import url(fonts.css);
/* respondive design things */
/* Media Queries: Tablet Landscape */
@media screen and (min-width: 1024px) {
  #main {
    width: 75%;
    margin: 0 auto; } }
/* Media Queries: Tabled Portrait */
@media screen and (max-width: 1024px) {
  #main {
    width: 100%; } }
/* Actual CSS */
:root {
  --color-background: #FFFFFF;
  --color-body: #000000;
  --color-a: #000000;
  --color-hover: rgba(76, 76, 76, 0.7);
  --color-background-banner: cyan;
  --color-background-banner-bottomEdge: #FFFFFF;
  --font-family: IBM-Plex-Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  color-scheme: light dark; }

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #303030;
    --color-body: #FFFFFF;
    --color-a: white;
    --color-hover: rgba(255, 255, 255, 0.5);
    --color-background-banner: #272727;
    --color-background-banner-bottomEdge: #1e1e1e; } }
body {
  background-color: var(--color-background);
  color: var(--color-body);
  font-family: var(--font-family);
  padding: 18vh 1rem;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }

p, li {
  font-family: var(--font-family); }

.banner {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  display: block;
  height: 8vmin;
  width: 100%;
  background: var(--color-background-banner);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px); }

.banner .title h1 {
  font-size: 6vmin;
  text-align: left;
  margin: auto;
  display: block;
  position: fixed;
  left: 1.5%;
  top: 0%;
  height: 8vmin;
  width: 60vw;
  z-index: 4;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: var(--color-background-banner);
  color: var(--color-body);
  white-space: nowrap;
  overflow: visible;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.banner .navigation h1 {
  font-size: 6vmin;
  text-align: right;
  margin: auto;
  position: fixed;
  right: 1.5%;
  top: 0%;
  height: 8vmin;
  width: 37vw;
  z-index: 2;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: var(--color-background-banner);
  color: var(--color-body);
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

a {
  color: var(--color-a);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.banner .navigation h1:hover, a:focus, a:hover {
  color: var(--color-hover);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: var(--color-body); }

.bottomEdge {
  position: fixed;
  top: 8vmin;
  height: .2vmin;
  width: 100%;
  background-color: var(--color-background-banner-bottomEdge); }

#sidenavWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

#sidenavEdge {
  height: 105%;
  width: 1.5%;
  position: fixed;
  right: 0%;
  top: -30px;
  background-color: var(--color-background-banner);
  -webkit-transform: translate(100%);
          transform: translate(100%);
  z-index: 2; }

#sidenavEdge.show {
  -webkit-transform: translate(0%);
          transform: translate(0%); }

#sidenav {
  position: fixed;
  top: -30px;
  bottom: 0;
  right: 1.5%;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;
  background-color: var(--color-background-banner);
  opacity: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: right;
  text-decoration: underline;
  -webkit-transform: translate(105%);
          transform: translate(105%); }

/* @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
    .banner, #sidenav, #sidenavEdge {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background-color: var(--color-background-banner);
    }
} */
#sidenav.show {
  -webkit-transform: translate(0%);
          transform: translate(0%); }

#menuButton {
  position: fixed;
  top: -.25%;
  right: 1.5%;
  background: none;
  color: var(--color-body);
  border: none;
  padding: 0;
  font: inherit;
  text-decoration: underline;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1); }

#menuButton.hide {
  -webkit-transform: translate(150%);
          transform: translate(150%); }

#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 6vmin;
  color: var(--color-body);
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: right;
  overflow: auto; }

#sidenav a:hover {
  color: var(--color-hover); }

#main {
  -webkit-transition: margin-right .5s;
  transition: margin-right .5s;
  padding: 0px;
  ­-webkit-­transition: all 0.5s ease;
  ­-moz-­transition: all 0.5s ease;
  ­-o-­transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
