body {
  background-color: #6dffbb;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: left; }

.wrapper {
  position: relative; }

.blurlayer {
  -webkit-filter: blur(5px);
          filter: blur(5px); }

.banner .title h1 {
  font-size: 4vw;
  text-align: left;
  margin: auto;
  display: block;
  /* background-color: #6dffbb; */
  position: fixed;
  left: 1.5%;
  top: 0%;
  height: 5vw;
  width: 31.5%;
  z-index: 0;
  background: rgba(109, 255, 187, 0.75); }

.banner .navigation h1 {
  font-size: 4vw;
  text-align: right;
  margin: auto;
  position: fixed;
  right: 1.5%;
  top: 0%;
  height: 5vw;
  width: 65.5%;
  z-index: 1;
  background: rgba(109, 255, 187, 0.75); }

a {
  color: rgba(0, 0, 0, 0.7); }

a:focus, a:hover {
  color: rgba(76, 76, 76, 0.6); }

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem; }

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #000; }
