/* Avenir */
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-Book.woff); }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-Heavy.woff);
  font-weight: bold; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-BookOblique.woff);
  font-style: italic; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-BookOblique.woff);
  font-style: oblique; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-HeavyOblique.woff);
  font-weight: bold;
  font-style: oblique; }
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir/AvenirLTStd-HeavyOblique.woff);
  font-weight: bold;
  font-style: italic; }
/* Nitti */
@font-face {
  font-family: Nitti;
  src: url(./fonts/Nitti/nitti_light.woff); }
@font-face {
  font-family: Nitti;
  src: url(./fonts/Nitti/nitti_medium.woff);
  font-weight: bold; }
/* iA Writer Duospace */
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-Regular.otf); }
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-BoldItalic.woff);
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: iAWriterDuospace;
  src: url(./fonts/iAWriterDuospace/iAWriterDuospace-RegularItalic.woff);
  font-style: italic; }
/* IBM Plex Sans */
/* There are more files in /fonts/IBM-Plex-Sans, but they're not yet referenced here */
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Regular.otf); }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-Italic.otf);
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Sans;
  src: url(./fonts/IBM-Plex-Sans/IBMPlexSans-BoldItalic.otf);
  font-weight: bold;
  font-style: italic; }
/* IBM Plex Serif */
/* There are more files in /fonts/IBM-Plex-Serif, but they're not yet referenced here */
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-Regular.otf); }
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-Italic.otf);
  font-style: italic; }
@font-face {
  font-family: IBM-Plex-Serif;
  src: url(./fonts/IBM-Plex-Serif/IBMPlexSerif-BoldItalic.otf);
  font-weight: bold;
  font-style: italic; }
/* Actual CSS */
body {
  background-color: #00FFFF;
  color: #333;
  font-family: IBM-Plex-Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }

p {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif; }

li {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif; }

.wrapper {
  position: relative; }

.blurlayer {
  -webkit-filter: blur(5px);
  filter: blur(5px); }

.banner .title h1 {
  font-size: 6vmin;
  text-align: left;
  margin: auto;
  display: block;
  position: fixed;
  left: 1.5%;
  top: 0%;
  height: 8vmin;
  width: 60vw;
  z-index: 0;
  background: rgba(0, 255, 255, 0.75);
  white-space: nowrap;
  overflow: visible;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.banner .navigation h1 {
  font-size: 6vmin;
  text-align: right;
  margin: auto;
  position: fixed;
  right: 1.5%;
  top: 0%;
  height: 8vmin;
  width: 37vw;
  z-index: 1;
  background: rgba(0, 255, 255, 0.75);
  white-space: nowrap; }

.banner .navigation h1:hover {
  color: rgba(76, 76, 76, 0.6); }

a {
  color: rgba(0, 0, 0, 0.7); }

a:focus, a:hover {
  color: rgba(76, 76, 76, 0.6); }

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #000; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  right: 1.5%;
  top: -30px;
  z-index: 2;
  background-color: inherit;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: right;
  text-decoration: underline; }

.sidenav hover {
  color: rgba(76, 76, 76, 0.6); }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 6vmin;
  color: inherit;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: right; }

.sidenav a:hover {
  color: rgba(76, 76, 76, 0.6); }

#main {
  -webkit-transition: margin-right .5s;
  transition: margin-right .5s;
  padding: 0px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
