<script src="/javascripts/gradientgenerator.js"></script>

<div id="container">
  <div id="button" onclick="generate();">
    <u>GENERATE RANDOM GRADIENT</u>
  </div>
  <div id="output">output data</div>
</div>
