<!doctype html>
<html>
  <body>

  <h1><a href="./../quizlet">quizlet things</a> • <a href="">8th Grade</a></h1>
  <hr>
  <p>
    All Quizlet classes containing sets from 8th Grade. You must have access to the class; if you don't, request it.
  </p>
  <h2>
    Classes
  </h2>
  <p>
    <li> <a href="https://quizlet.com/class/5517638/" target="blank">US History</a> <i>Mr. Kaeppe</i>
    <li> <a href="https://quizlet.com/class/9062020/" target="blank">English</a> <i>Mr. Callahan</i>
  <hr>
  <h2>
    <a href="https://quizlet.com/StrawberryTau" target="blank">My Quizlet Account</a>
  </h2>
