<!doctype html>
<html>
  <body>

  <h1><a href="">Unofficial Quizlet Company</a></h1>
  <hr>
  <p>
    This is the home of my little Quizlet company. I make (usually really big) high-quality, gramatically correct (an attribute that's suprisingly hard to find in student-made sets!) Quizlet sets based off of my in-class notes (plus anything else relevant).
    <b><i>You can buy sets from me in-person using cash or a credit/debit card or online at the link below.</i></b>
  </p>

  <h2>
    Choose a Grade Level:
    <a href="sets/8th">8th Grade</a>
    //
    <a href="sets/9th">9th Grade</a>
  </h2>

  <hr>
  <h2>
    Links:
    <a href="https://squareup.com/store/unofficialquizlets" target="blank">Online Shop</a>
    //
    <a href="https://quizlet.com/StrawberryTau" target="blank">My Quizlet Account</a>
    //
    <a href="mailto:unofficialquizlets@icloud.com" target="_top">Email Me</a>
  </h2>
