<!doctype html>
<html>
  <body>

  <h1><a href="">quizlet things</a></h1>
  <hr>
  <p>
    This is the home of all my Quizlet sets, etc. I make (usually really big) high-quality, gramatically correct (an attribute that's suprisingly hard to find in student-made sets!) Quizlet sets based off of my in-class notes (plus anything else relevant).
  </p>
  <h2>
    Featured Sets
  </h2>
  <p>
    <a href="https://quizlet.com/376724343/" target="blank">Gospels Study Guide (Religion/Scripture/Mr. Zenner)</a>
<!--
  <h2>
    Choose a Grade Level:
    <a href="./../quizlet/sets/8th">8th Grade</a>
    •
    <a href="./../quizlet/sets/9th">9th Grade</a>
  </h2>
-->
  <hr>
  <h2>
    <a href="https://quizlet.com/StrawberryTau" target="blank">My Quizlet Account</a>
  </h2>
