<!doctype html>
<html>
  <body>

  <h1><a href="">quizlet things</a></h1>
  <hr>
  <p>
    This is the home of all my Quizlet sets, etc. I make (usually really big) high-quality, gramatically correct (an attribute that's suprisingly hard to find in student-made sets!) Quizlet sets based off of my in-class notes (plus anything else relevant).
  </p>
  <h2>
    Featured Sets
  </h2>
  <p>
    <li> <a href="https://quizlet.com/390552341" target="blank">Honors Biology Chapter 47 (The Immune System)</a>
    <li> <a href="https://quizlet.com/_5h822n" target="blank">BCK 2018-19 (Basic Cadet Knowledge)</a>

  <h2>
    Choose a Grade Level:
    <a href="./../quizlet/grade/8">8th Grade</a>
    •
    <a href="./../quizlet/grade/9">9th Grade</a>
  </h2>

  <hr>
  <h2>
    <a href="https://quizlet.com/jltml" target="blank">My Quizlet Account</a>
  </h2>
