<!doctype html>
<html>
  <body>

  <h1><a href="">quizlet things</a></h1>
  <hr>
  <p>
    This is the home of all my Quizlet sets, etc. I make (usually really big) high-quality, gramatically correct Quizlet sets based off of my in-class notes, etc.
  </p>

  <h2>
    Featured Sets
  </h2>
  <p>

  <h2>
    To see all sets, choose a grade level:
    <a href="./../quizlet/grade/8">8th Grade</a>
    •
    <a href="./../quizlet/grade/9">9th Grade</a>
  </h2>

  <hr>
  <h2>
    <a href="https://quizlet.com/jltml" target="blank">My Quizlet Account</a>
    •
    <a href="https://www.instagram.com/unofficialquizlets/" target="blank">Unofficial Quizlets Instagram Account</a>
  </h2>
