<!doctype html>
<html>
  <body>

  <h1><a href="./../../quizlet">quizlet things</a> • <a href="">9th Grade</a></h1>
  <hr>
  <p>
    All Quizlet classes containing sets from 9th Grade. You must have access to the class; if you don't, request it.
  </p>
  <h2>
    Classes
  </h2>
  <p>
    <li> <a href="https://quizlet.com/class/9062047/" target="blank">Geography & Civics</a> <i>Mr. Kaeppe</i>
    <li> <a href="https://quizlet.com/class/6524745/" target="blank">Honors Biology</a> <i>Ms. Jaworski</i>
  </p>
  <h2>
    Individual Sets
  </h2>
  <p>
    <li> <a href="https://quizlet.com/_5h822n" target="blank">BCK 2018-19 (Basic Cadet Knowledge)</a>
  </p>
  <hr>
  <h2>
    <a href="https://quizlet.com/jltml" target="blank">My Quizlet Account</a>
  </h2>
