---
permalink: /404.html
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/site.css" rel="stylesheet" />
    <title>jacquesite // page not found</title>
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/blog/feed.xml" />
    <style>
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        border-color: #FFF;
      }
      p {
        font-family: iAWriterDuospace, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
        background-color: red;
        color: white;
        }
      body, h1, h2, h3, a {
        background-color: red;
        color: white;
      }
      .banner .navigation h1 {
        background-color: red;
        color: white;
      }
      .banner .title h1 {
        background-color: red;
        color: white;
      }

    </style>
  </head>

  <body>
      <h1>
        sorry! that page doesn't seem to exist
      </h1>
      <h3>
        or maybe it does in a paralell universe. nonetheless, you can <a href="../../../../../">head home.</a>
        <br>
        <b>NOTE: I turned on something called directory indexes, so if a link you expected to work doesn't, try deleting ".html" from the end of the url.</b>
      </h3>
    </body>
  </html>
