<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/site.css" rel="stylesheet" />
    <title>jacquesite</title>
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/blog/feed.xml" />
  </head>

  <body>
    <h1>
      random links & other things
    </h1>
    <p>
    <li> <a href="mailto:things@jltml.me" target="_top">add something to my to-do list</a> <i>the subject is the task's title and the email content is its description</i>
    <br>
    <li> <a href="././experiments/dashboard" target="_top">experimental html dashboard</a> <i>google maps doesn't work</i>
    <br>
    <li> <a href="./../experiments/games" target="_top">embedded games</a> <i>max asked me to do this</i>
    <br>
    </p>
  </body>
</html>
