<!doctype html>
<html>
  <body>
    <div id="main" role="main">

      <h1>
        things i've listened to
      </h1>
      <h2>
        apple music
      </h2>
      <h3>
        playlists
      </h3>
      <br>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/go-do-something/pl.u-RR37FxgRpLy"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/songs-to-spin-fidget-spinners-to/pl.a011e3f214ac4ffe8b614cb904addf70"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/instagram-song-recommendations/pl.u-Rgr2cxgRpLy"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/favourties/pl.u-b697uLzDx6k"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/listlist-001-idk/pl.u-leqGtxZbl1W"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/listlist-002-dr-mrs-vandertrampp/pl.u-BpJespXLl8A"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/listlist-003-calamity-serenity/pl.u-vvdMt1BN7dk"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/listlist-004-tangled-mess/pl.u-LRKBukm8VMN"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/listlist-005-best-friend-i-think-i-love-you/pl.u-PPKVukVj7YG"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/listlist-006-oh-wait-nevemind-i-guess-ill-just-keep/pl.u-vvA6t1BN7dk"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/listlist-007-a-teetering-hope/pl.u-RrENFxgRpLy"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/list8-from-nowhere/pl.u-RgaWUxgRpLy"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/list9-memories-to-be-made/pl.u-BMdjipXLl8A"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/la-classe-de-fran%C3%A7ais/pl.u-RrDVtxgRpLy"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/christmas-by-jack/pl.u-LRBdtkm8VMN"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/all-of-2018-sorted-by-plays/pl.u-AZ69T7LzY0E"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/list10-in-circles/pl.u-BM06FpXLl8A"></iframe>
      <br>

      <h2>
        spotify
      </h2>
      <a href="https://open.spotify.com/user/jltml?si=hX_oIO0oQv-9Gvq0rs9SSg" target="_blank">My Spotify Profile</a>
      <br>

      <h2>
        my most listened-to artists
      </h2>
      <i>updated 2018-12-22<i>
      <br>
      <img src="./../images/music/songs1.jpeg" style="width:45vh;height:97.5vh;">
      <img src="./../images/music/songs2.jpeg" style="width:45vh;height:97.5vh;">
      <img src="./../images/music/songs3.jpeg" style="width:45vh;height:97.5vh;">
      <img src="./../images/music/songs4.jpeg" style="width:45vh;height:97.5vh;">
      <img src="./../images/music/songs5.jpeg" style="width:45vh;height:97.5vh;">
      <img src="./../images/music/songs6.jpeg" style="width:45vh;height:97.5vh;">
      <img src="./../images/music/songs7.jpeg" style="width:45vh;height:97.5vh;">
      <img src="./../images/music/songs8.jpeg" style="width:45vh;height:97.5vh;">
      <img src="./../images/music/songs9.jpeg" style="width:45vh;height:97.5vh;">

    </div>
  </body>
</html>
