<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>tutoring</h1>
    <hr>
    <p>
      I do tutoring and homework help and the like! This kind of pains me to write, since I really don't like anything that could resemble bragging, but solely for the sake of context: I was valedictorian and had, I think, maybe the highest cumulative GPA possible (I skipped the language sampler and started French a year earlier, which helped out with that and opened more opportunities later). Anyway, all of that is to say that I think(?) I'm pretty knowledgable of a whole bunch of subjects, and I love helping other people learn — which is a nice pairing; I'd love to help you or your kid out with editing a paper, understanding that tricky math problem, planning out a project, or anything in between.
      <br><br>
      If that at all sounds of interest — absolutely get in touch! You can send an email to <a href="mailto:tutoring@jltml.me">this address</a>.
    </p>
  </body>
</html>
