<!doctype html>
<html>
  <body>
      <body>
        <h1>
          videos
        </h1>
        <hr>
        <h3>
          A couple videos I've made.
        </h3>
        <h5>
          <i>Actually, I have over a bunch of other videos (over 50, I think), but they're all unlisted... which is why there are like none here.</i>
        </h5>
        <li><a href="https://youtu.be/u2kONAuhYkM" target="blank">Interstate Highways: Paving the Way for Disparities (History Day 2018)</a>
        <li><a href="https://youtu.be/cNwQJoWsumM" target="blank">STA Model UN - NYC Trip</a>
      </body>
  </body>
</html>
